<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MaConnexion"
             connectionString="Server=LAPTOP-MVGMHCGR\SQLEXPRESS;Database=BDMagasinDVD;Trusted_Connection=True;TrustServerCertificate=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>